<header class="header">
    <div class="container">
        <div class="header__content">
            <a href="./" class="header__logo">
                <img src="img/icons/logo1.svg" alt="">
            </a>
            <div class="header-menu">
                <button data-da=".header-bottom__body, 550, last" class="header-menu__burger">
                    <span class="icon-menu">
                        <svg aria-hidden="true" width="25" height="18">
                            <use xlink:href="img/sprite.svg#menu"></use>
                        </svg>
                    </span>
                    <span class="header-menu__name">Меню</span>
                </button>
            </div>
            <div class="header-bottom">
                <div class="header-bottom__content">
                    <div class="header-bottom__left">
                    </div>
                    <div class="header-bottom__body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>