<div class="block-info">
    <div class="container">
        <div class="block-info__content">
            <div class="block-info__title">
                Поручите управление профессионалам
            </div>
            <div class="block-info__body">
                <div class="block-info__text">
                    <p>
                        Подключитесь бесплатно и уже сразу получите полезную информацию по диагностике вашего проекта.
                    </p>
                    <p>
                        Дополнительным бонусом мы дарим до 2-х часов привественных работ за наш счет на вашем проекте.
                    </p>
                </div>
            </div>
            <a href="./" class="btn">
                <span>Подробнее</span>
            </a>
        </div>
    </div>
</div>