<!--
<div id="call" aria-hidden="true" class="popup popup-forms">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="16" height="16">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="popup-forms__body">
                <div class="popup-forms__top">
                    <div class="popup-forms__title">
                        <span>Заполните форму и наш менеджер</span> вам перезвонит в течении часа
                    </div>
                </div>
                <form data-popup-message="#thanks" method="POST" action="send-call.php" data-ajax class="form">
                    <div class="form__inputs">
                        <div class="form__input">
                            <div class="form__icon">
                                <svg aria-hidden="true" width="12" height="14">
                                    <use xlink:href="img/sprite.svg#user"></use>
                                </svg>
                            </div>
                            <input data-required autocomplete="off" type="text" name="name" placeholder="Ваше имя"
                                class="input">
                        </div>
                        <div class="form__input">
                            <div class="form__icon">
                                <svg aria-hidden="true" width="16" height="16">
                                    <use xlink:href="img/sprite.svg#phone"></use>
                                </svg>
                            </div>
                            <input data-required autocomplete="off" type="text" name="phone" placeholder="Телефон"
                                class="input">
                        </div>
                    </div>
                    <button type="submit" class="btn">
                        <span>Заказать звонок</span>
                    </button>
                    <div class="form__text">
                        Нажимая на кнопку “Заказать звонок” вы даете согласиена <a href="./">обработку персональных
                            данных</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="thanks" aria-hidden="true" class="popup popup-forms">
    <div class="popup__wrapper">
        <div class="popup__content">
            <div data-close class="popup__close">
                <svg aria-hidden="true" width="16" height="16">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>
            <div class="popup-forms__body">
                <div class="popup-forms__top">
                    <div class="popup-forms__title">Спасибо за заявку!</div>
                    <p>
                        Свяжимся с вами в ближайшее время.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
-->