<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Кейс</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        <header class="header header-other header-bg">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <a href="./" class="header__logo">
                            <img src="img/icons/logo1.svg" alt="">
                        </a>
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#" class="home">
                                        <img src="img/icons/home.svg" alt="">
                                    </a>
                                </li>
                                <li><span>Кейс</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__right">
                        <div class="header__buttons">
                            <a href="./" class="link">Чат с менджером</a>
                            <a href="./" class="btn">
                                <span>Подключиться к сервису</span>
                            </a>
                        </div>
                        <div class="header-menu">
                            <button data-da=".header-bottom__body, 550, last" class="header-menu__burger">
                                <span class="icon-menu">
                                    <span class="icon-menu__line"></span>
                                    <span class="icon-menu__line"></span>
                                    <span class="icon-menu__line"></span>
                                    <span class="icon-menu__line"></span>
                                </span>
                                <span class="header-menu__name">Меню</span>
                            </button>
                        </div>
                    </div>
                    <div class="header-bottom">
                        <div class="header-bottom__content">
                            <div class="header-bottom__left">
                            </div>
                            <div class="header-bottom__body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">

            <div class="block-intro-case">
                <img src="img/image14.webp" alt="" class="block-intro-case__pic1">
                <div class="container">
                    <div class="block-intro-case__content">
                        <h1 class="title1">
                            Поддержка и модернизация интернет-магазина на WordPress
                        </h1>
                        <div class="block-intro-case__data">
                            <img src="img/icons/calendar.svg" alt="">
                            <span>29 октября 2020</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-case">
                <div class="container">
                    <div class="block-case__content">
                        <div class="block-case__top">
                            <div class="block-case-menu">
                                <div class="block-case-menu__title">
                                    Оглавление
                                </div>
                                <ul>
                                    <li>
                                        <a href="./" data-goto=".content1">
                                            Доработка шаблонов WordPress и зачем нужен Elementor
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            Настройка функционала интернет-магазина WP
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            Подарочные сертификаты вместе или в обход WooCommerce?
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">
                                            Купоны, подписка, отправка через SMTP и МойСклад
                                        </a>
                                    </li>
                                    <li>
                                        <a href="./">Мониторинг актуальности</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-case__text">
                                <p>
                                    Современные интернет-магазины функциональные и сложные системы, часто
                                    интегрированные с
                                    внешними сервисами типа CRM, платежными платформами, кассами и прочим. Учитывая это,
                                    выбор платформы на чем создавать свой интернет-магазин становится краеугольным
                                    камнем
                                    для его владельца, так как это определяет стоимость его содержания, поддержки и
                                    дальнейших улучшений.
                                </p>
                                <p>
                                    Но бывает, что уже сайт создан и работает. Да, возможно, не на той системе
                                    управления
                                    как хотелось, но перенос сайта на другой движок сопоставим с созданием нового сайта,
                                    по
                                    времени и ресурсам. Поэтому иногда наши заказчики приходят с тем, что есть и просят
                                    наладить процессы технические и операционные на имеющемся движке.
                                </p>
                            </div>
                        </div>
                        <img loading="lazy" src="img/image12.webp" alt="" class="block-case__pic1">
                        <div class="block-case__bottom">
                            <div class="block-case__descr">
                                <div class="block-case__text">
                                    <p>
                                        В первую очередь такая отладка помогает решить вопросы удобного управления
                                        сайтом и
                                        возможности быстрого внесения актуальной информации. Ведь мы знаем как
                                        стремительно
                                        движется рынок электронной коммерции и медлительность становится причиной
                                        упущенной
                                        прибыли.
                                    </p>
                                    <p>
                                        С другой стороны налаживание технических процессов сайта нужно для его
                                        пользователей. Например, пользователи любят когда на сайте все работает быстро,
                                        стабильно и удобно. Клиенты часто дают обратную связь менеджерам и владельцу
                                        сайта и
                                        надо чтобы кто-то это мог внедрить, при этом не сломав существующие механизмы.
                                    </p>
                                </div>
                                <div class="block-case__contents content1">
                                    <h2 class="title2">
                                        Доработка шаблонов WordPress и зачем нужен Elementor
                                    </h2>
                                    <div class="block-case__text">
                                        <p>
                                            Внутри WP есть удобные механики для подключения конкретных файлов стилей,
                                            которые
                                            нужны именно в этом шаблоне. Это дает гибкость и не нагружает поток загрузки
                                            лишними
                                            данными – то что как раз рекомендуется при оптимизации.
                                        </p>
                                    </div>
                                    <a href="./" class="block-advertising">
                                        <img loading="lazy" src="img/image13.webp" alt=""
                                            class="block-advertising__pic1">
                                        <div class="block-advertising__item">
                                            <div class="block-advertising__top">
                                                <div class="block-advertising__icon">
                                                    <img loading="lazy" src="img/icons/mug-hot.svg" alt="">
                                                </div>
                                                <span>Читайте так же:</span>
                                            </div>
                                            <div class="block-advertising__title">
                                                Интеграция с Google Drive API. Загрузка и получение файлов
                                            </div>
                                        </div>
                                    </a>
                                    <div class="block-case__text">
                                        <p>
                                            Внутри WP есть удобные механики для подключения конкретных файлов стилей,
                                            которые
                                            нужны именно в этом шаблоне. Это дает гибкость и не нагружает поток загрузки
                                            лишними
                                            данными – то что как раз рекомендуется при оптимизации.
                                        </p>
                                        <p>
                                            В самой админке контент-менеджеру на этих страницах вывели несколько свойств
                                            для
                                            управления отображением этих страниц.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-project-team">
                                <div class="block-project-team__title">
                                    Над проектом работали
                                </div>
                                <div class="block-project-team__body">
                                    <div class="block-project-team__column">
                                        <img loading="lazy" src="img/photo1.webp" alt=""
                                            class="block-project-team__pic1">
                                        <div class="block-project-team__item">
                                            <div class="badges">
                                                <div style="background: #116adf;" class="badges__badge">
                                                    TeamLeader
                                                </div>
                                            </div>
                                            <div class="block-project-team__programs">
                                                <div class="card-program program-mini">
                                                    <div class="card-program__icon">
                                                        <img src="img/icons/bitrix.svg" alt="">
                                                    </div>
                                                </div>
                                                <div class="card-program program-mini">
                                                    <div class="card-program__icon">
                                                        <img src="img/icons/laravel.svg" alt="">
                                                    </div>
                                                </div>
                                                <div class="card-program program-mini">
                                                    <div class="card-program__icon">
                                                        <img src="img/php.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-project-team__column">
                                        <img loading="lazy" src="img/photo2.webp" alt=""
                                            class="block-project-team__pic1">
                                        <div class="block-project-team__item">
                                            <div class="badges">
                                                <div style="background: #1b87eb;" class="badges__badge">
                                                    Back-end
                                                </div>
                                            </div>
                                            <div class="block-project-team__programs">
                                                <div class="card-program program-mini">
                                                    <div class="card-program__icon">
                                                        <img src="img/linux.webp" alt="">
                                                    </div>
                                                </div>
                                                <div class="card-program program-mini">
                                                    <div class="card-program__icon">
                                                        <img src="img/js.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-cases block-cases-specialists">
                <div class="container">
                    <div class="block-cases__content">
                        <h2 class="title2 title-left">
                            Другие кейсы
                        </h2>
                        <div class="block-cases__body">
                            <div class="block-cases__cards">
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a href="./" class="link">Еще кейсы</a>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/info.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
    <script src="js/scripts.js"></script>
</body>

</html>