<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro">
                <img src="img/icons/bg1.svg" alt="" class="block-intro__pic">
                <div class="block-intro__circle"></div>
                <!--
                <video muted autoplay playsinline>
                    <source src="files/videos/video.mp4" type="video/mp4">
                </video>-->
                <div class="container">
                    <div class="block-intro__content">
                        <div class="block-intro__top">
                            <div class="block-intro__title">
                                Аутсорс
                            </div>
                            <h1 class="title1">
                                IT-отдел
                            </h1>
                        </div>
                        <div class="block-intro__center">
                            <div class="block-intro__column">
                                <div class="block-intro__icon">
                                    <img src="img/icons/money.svg" alt="">
                                </div>
                                <p>
                                    Увеличиваем<br>
                                    прибыль
                                </p>
                            </div>
                            <div class="block-intro__column">
                                <div class="block-intro__icon">
                                    <img src="img/icons/piggy-bank.svg" alt="">
                                </div>
                                <p>
                                    Снижаем<br> издержки
                                </p>
                            </div>
                            <div class="block-intro__column">
                                <div class="block-intro__icon">
                                    <img src="img/icons/money.svg" alt="">
                                </div>
                                <p>
                                    Увеличиваем<br>
                                    прибыль
                                </p>
                            </div>
                            <div class="block-intro__column">
                                <div class="block-intro__icon">
                                    <img src="img/icons/piggy-bank.svg" alt="">
                                </div>
                                <p>
                                    Снижаем<br> издержки
                                </p>
                            </div>
                            <div class="block-intro__column">
                                <div class="block-intro__icon">
                                    <img src="img/icons/money.svg" alt="">
                                </div>
                                <p>
                                    ИИ-технологии уже внедрены
                                </p>
                            </div>
                        </div>
                        <div class="block-intro__bottom">
                            <a href="./" class="btn">
                                <span>Подключиться к сервису</span>
                            </a>
                            <a href="./" class="link">Чат с менджером</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-services">
                <div class="container">
                    <div class="block-services__content">
                        <div class="block-services__image">
                            <img loading="lazy" src="img/image1.webp" alt="" class="block-services__pic1">
                            <div class="block-services__item">
                                <div class="block-services__name">
                                    Готовая инфраструктура, опытные специалисты
                                </div>
                                <div class="block-services__tags">
                                    <div class="block-services__tag">
                                        #сопровождение
                                    </div>
                                    <div class="block-services__tag">
                                        #разработка
                                    </div>
                                    <div class="block-services__tag">
                                        #экспертиза
                                    </div>
                                    <div class="block-services__tag">
                                        #масштабируемость
                                    </div>
                                </div>
                            </div>
                            <div class="block-services__circle"></div>
                        </div>
                        <div class="block-services__body">
                            <div class="block-services__columns">
                                <div class="block-services__column">
                                    <p>
                                        Улучшения и доработки, техническая поддержка, контент и управление
                                    </p>
                                    <div class="block-services__title">
                                        Поддержка и сопровождение
                                    </div>
                                </div>
                                <div style="background: #3884cb;" class="block-services__column">
                                    <p>
                                        Интеграции с маркетплейсами, системами складского учета, эквайрингом и
                                        логистикой
                                    </p>
                                    <div class="block-services__title">
                                        Интернет-магазины
                                    </div>
                                </div>
                            </div>
                            <div class="block-services__columns">
                                <div style="background: #1b87eb;" class="block-services__column">
                                    <p>
                                        Управленческие системы,
                                        интернет-магазины, сайты
                                    </p>
                                    <div class="block-services__title">
                                        Разработка
                                    </div>
                                </div>
                                <div style="background: #1255ca;" class="block-services__column">
                                    <p>
                                        Образовательные платформы, финансовый контроль и управление предприятием
                                    </p>
                                    <div class="block-services__title">
                                        Веб-сервисы
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-benefits">
                <div class="container">
                    <img loading="lazy" src="img/image2.webp" alt="" class="block-benefits__pic1">
                    <div class="block-benefits__content">
                        <h2 class="title2">
                            Почему нам <span>доверяют</span><br> десятилетиями?
                        </h2>
                        <div class="block-benefits__body">
                            <div class="block-benefits__column">
                                <div class="block-benefits__number">
                                    .1
                                </div>
                                <p>
                                    Непрерывная экспертиза: от становления веба до современных экосистем
                                </p>
                            </div>
                            <div class="block-benefits__column">
                                <div class="block-benefits__number">
                                    .2
                                </div>
                                <p>
                                    Глубокая специализация на критически важных системах
                                </p>
                            </div>
                            <div class="block-benefits__column">
                                <div class="block-benefits__number">
                                    .3
                                </div>
                                <p>
                                    Предсказуемость и стабильность вместо
                                    «фриланс-хаоса»
                                </p>
                            </div>
                            <div class="block-benefits__column">
                                <div class="block-benefits__number">
                                    .4
                                </div>
                                <p>
                                    Накопленная база решений и «интеллектуальный капитал»
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-cases">
                <div class="container">
                    <div class="block-cases__content">
                        <h2 class="title2">
                            Кейсы наших клиентов
                        </h2>
                        <div class="block-cases__body">
                            <div class="block-cases__cards">
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a href="./" class="link">Еще кейсы</a>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/info.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>