<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Специалисты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        <header class="header header-other">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <a href="./" class="header__logo">
                            <img src="img/icons/logo1.svg" alt="">
                        </a>
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#" class="home">
                                        <img src="img/icons/home.svg" alt="">
                                    </a>
                                </li>
                                <li><span>Специалисты</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__right">
                        <div class="header__buttons">
                            <a href="./" class="link">Чат с менджером</a>
                            <a href="./" class="btn">
                                <span>Подключиться к сервису</span>
                            </a>
                        </div>
                        <div class="header-menu">
                            <button data-da=".header-bottom__body, 550, last" class="header-menu__burger">
                                <span class="icon-menu">
                                    <span class="icon-menu__line"></span>
                                    <span class="icon-menu__line"></span>
                                    <span class="icon-menu__line"></span>
                                    <span class="icon-menu__line"></span>
                                </span>
                                <span class="header-menu__name">Меню</span>
                            </button>
                        </div>
                    </div>
                    <div class="header-bottom">
                        <div class="header-bottom__content">
                            <div class="header-bottom__left">
                            </div>
                            <div class="header-bottom__body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main main-bg">

            <img src="img/icons/bg1.svg" alt="" class="main-bg__pic">

            <div class="block-specialists border">
                <div class="container">
                    <div class="block-specialists__content">
                        <h1 class="title1">
                            Специалисты
                        </h1>
                        <div class="block-specialists__body">
                            <div class="block-specialists__column">
                                <img src="img/image5.webp" alt="" class="block-specialists__pic1">
                                <div class="block-specialists__item">
                                    <div class="block-specialists__titles">
                                        <div class="block-specialists__title">
                                            Шеф
                                        </div>
                                        <div class="block-specialists__name">
                                            Ян<br> Швейковский
                                        </div>
                                    </div>
                                    <a href="./" class="link">Узнать получше</a>
                                </div>
                            </div>
                            <div class="block-specialists__column">
                                <img src="img/image6.webp" alt="" class="block-specialists__pic1">
                                <div class="block-specialists__item">
                                    <div class="block-specialists__titles">
                                        <div class="block-specialists__title">
                                            Мастер кода
                                        </div>
                                        <div class="block-specialists__name">
                                            Егор<br>
                                            Кириллов
                                        </div>
                                    </div>
                                    <a href="./" class="link">Узнать получше</a>
                                </div>
                            </div>
                            <div class="block-specialists__column">
                                <img src="img/image7.webp" alt="" class="block-specialists__pic1">
                                <div class="block-specialists__item">
                                    <div class="block-specialists__titles">
                                        <div class="block-specialists__title">
                                            Чародей frontend`а
                                        </div>
                                        <div class="block-specialists__name">
                                            Никита<br> Дементьев
                                        </div>
                                    </div>
                                    <a href="./" class="link">Узнать получше</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blockquote">
                <div class="container">
                    <div class="blockquote__content">
                        <img loading="lazy" src="img/icons/quote.svg" alt="">
                        <div class="blockquote__text">
                            <p>
                                Общий скилл компании определяется ее коллективом в таймлайне.
                            </p>
                            <p>
                                Каждый штатный специалист, партнер и стажер в конкретный момент времени так или иначе
                                повлиял на общую историю компании. На направление ее движения и формирование ее
                                целостного
                                характера.
                            </p>
                            <p>
                                <strong> Каждый важен</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-teams">
                <div class="container">
                    <div class="block-teams__content">
                        <div class="block-teams__body">
                            <h2 class="title2">
                                Стажеры
                            </h2>
                            <div class="block-teams__columns">
                                <div class="block-teams__column">
                                    <img loading="lazy" src="img/image8.webp" alt="" class="block-teams__pic1">
                                    <p>
                                        Екатерина<br>
                                        Пазухина
                                    </p>
                                </div>
                                <div class="block-teams__column">
                                    <img loading="lazy" src="img/image9.webp" alt="" class="block-teams__pic1">
                                    <p>
                                        Алина<br>
                                        Хованова
                                    </p>
                                </div>
                                <div class="block-teams__column">
                                    <img loading="lazy" src="img/image10.webp" alt="" class="block-teams__pic1">
                                    <p>
                                        Наташа<br>
                                        Смердова
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="block-teams__body">
                            <h2 class="title2">
                                Выпускники
                            </h2>
                            <div class="block-teams__columns">
                                <div class="block-teams__column">
                                    <img loading="lazy" src="img/image8.webp" alt="" class="block-teams__pic1">
                                    <p>
                                        Екатерина<br>
                                        Пазухина
                                    </p>
                                </div>
                                <div class="block-teams__column">
                                    <img loading="lazy" src="img/image9.webp" alt="" class="block-teams__pic1">
                                    <p>
                                        Алина<br>
                                        Хованова
                                    </p>
                                </div>
                                <div class="block-teams__column">
                                    <img loading="lazy" src="img/image10.webp" alt="" class="block-teams__pic1">
                                    <p>
                                        Наташа<br>
                                        Смердова
                                    </p>
                                </div>
                                <div class="block-teams__column">
                                    <img loading="lazy" src="img/image11.webp" alt="" class="block-teams__pic1">
                                    <p>
                                        Дмитрий<br>
                                        Глаголев
                                    </p>
                                </div>
                                <div class="block-teams__column">
                                    <img loading="lazy" src="img/image10.webp" alt="" class="block-teams__pic1">
                                    <p>
                                        Наташа<br>
                                        Смердова
                                    </p>
                                </div>
                                <div class="block-teams__column">
                                    <img loading="lazy" src="img/image11.webp" alt="" class="block-teams__pic1">
                                    <p>
                                        Дмитрий<br>
                                        Глаголев
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>