<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Специалист</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        <header class="header header-other">
            <div class="container">
                <div class="header__content">
                    <div class="header__left">
                        <a href="./" class="header__logo">
                            <img src="img/icons/logo1.svg" alt="">
                        </a>
                        <div class="breadcrumbs">
                            <ul>
                                <li>
                                    <a href="#" class="home">
                                        <img src="img/icons/home.svg" alt="">
                                    </a>
                                </li>
                                <li><span>Специалисты</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="header__right">
                        <div class="header__buttons">
                            <a href="./" class="link">Чат с менджером</a>
                            <a href="./" class="btn">
                                <span>Подключиться к сервису</span>
                            </a>
                        </div>
                        <div class="header-menu">
                            <button data-da=".header-bottom__body, 550, last" class="header-menu__burger">
                                <span class="icon-menu">
                                    <svg aria-hidden="true" width="25" height="18">
                                        <use xlink:href="img/sprite.svg#menu"></use>
                                    </svg>
                                </span>
                                <span class="header-menu__name">Меню</span>
                            </button>
                        </div>
                    </div>
                    <div class="header-bottom">
                        <div class="header-bottom__content">
                            <div class="header-bottom__left">
                            </div>
                            <div class="header-bottom__body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main class="main main-bg">

            <img src="img/icons/bg1.svg" alt="" class="main-bg__pic">

            <div class="block-specialist border">
                <div class="container">
                    <div class="block-specialist__content">
                        <div class="block-specialist__image">
                            <img src="img/image4.webp" alt="">
                        </div>
                        <div class="block-specialist__body">
                            <div class="block-specialist__top">
                                <div class="block-specialist__titles">
                                    <div class="block-specialist__title">
                                        Шеф
                                    </div>
                                    <h1 class="block-specialist__name">
                                        Ян Швейковский
                                    </h1>
                                </div>
                                <div class="badges">
                                    <div style="background: #50a3ff;" class="badges__badge">
                                        TeamLeader
                                    </div>
                                    <div style="background: #4e6ffa;" class="badges__badge">
                                        Full-stack
                                    </div>
                                    <div style="background: #653dc2;" class="badges__badge">
                                        Back-end
                                    </div>
                                </div>
                                <div class="block-specialist__descr">
                                    <div class="block-specialist__column">
                                        <div class="block-specialist__number">
                                            .20
                                        </div>
                                        <p>
                                            лет работает в<br> компании
                                        </p>
                                    </div>
                                    <div class="block-specialist__column">
                                        <div class="block-specialist__number">
                                            .107
                                        </div>
                                        <p>
                                            проектах<br> принял участие
                                        </p>
                                    </div>
                                    <div class="block-specialist__column">
                                        <div class="block-specialist__number">
                                            .5
                                        </div>
                                        <p>
                                            в разработке продуктов принял участие
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-specialist__bottom">
                                <div class="block-specialist__rows">
                                    <div class="card-program">
                                        <div class="card-program__icon">
                                            <img src="img/icons/bitrix.svg" alt="">
                                        </div>
                                        <span>1С-Битрикс</span>
                                    </div>
                                    <div class="card-program">
                                        <div class="card-program__icon">
                                            <img src="img/icons/laravel.svg" alt="">
                                        </div>
                                        <span>Laravel</span>
                                    </div>
                                    <div class="card-program">
                                        <div class="card-program__icon">
                                            <img src="img/php.webp" alt="">
                                        </div>
                                        <span>PHP</span>
                                    </div>
                                    <div class="card-program">
                                        <div class="card-program__icon">
                                            <img src="img/git.webp" alt="">
                                        </div>
                                        <span>Git</span>
                                    </div>
                                    <div class="card-program">
                                        <div class="card-program__icon">
                                            <img src="img/icons/bitrix.svg" alt="">
                                        </div>
                                        <span>1С-Битрикс</span>
                                    </div>
                                    <div class="card-program program-mini">
                                        <div class="card-program__icon">
                                            <img src="img/bootstrap.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-program program-mini">
                                        <div class="card-program__icon">
                                            <img src="img/android-studio.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-program program-mini">
                                        <div class="card-program__icon">
                                            <img src="img/java.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-program program-mini">
                                        <div class="card-program__icon">
                                            <img src="img/html.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-program program-mini">
                                        <div class="card-program__icon">
                                            <img src="img/css.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="block-specialist__rows">
                                    <div class="card-program">
                                        <div class="card-program__icon">
                                            <img src="img/linux.webp" alt="">
                                        </div>
                                        <span>Linux</span>
                                    </div>
                                    <div class="card-program">
                                        <div class="card-program__icon">
                                            <img src="img/js.webp" alt="">
                                        </div>
                                        <span>JavaScript</span>
                                    </div>
                                    <div class="card-program">
                                        <div class="card-program__icon">
                                            <img src="img/mysgl.webp" alt="">
                                        </div>
                                        <span>MySQL</span>
                                    </div>
                                    <div class="card-program">
                                        <div class="card-program__icon">
                                            <img src="img/js.webp" alt="">
                                        </div>
                                        <span>JavaScript</span>
                                    </div>
                                    <div class="card-program">
                                        <div class="card-program__icon">
                                            <img src="img/js.webp" alt="">
                                        </div>
                                        <span>JavaScript</span>
                                    </div>
                                    <div class="card-program program-mini">
                                        <div class="card-program__icon">
                                            <img src="img/bootstrap.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-program program-mini">
                                        <div class="card-program__icon">
                                            <img src="img/android-studio.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-program program-mini">
                                        <div class="card-program__icon">
                                            <img src="img/java.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-program program-mini">
                                        <div class="card-program__icon">
                                            <img src="img/html.webp" alt="">
                                        </div>
                                    </div>
                                    <div class="card-program program-mini">
                                        <div class="card-program__icon">
                                            <img src="img/css.webp" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-cases block-cases-specialists">
                <div class="container">
                    <div class="block-cases__content">
                        <h2 class="title2 title-left">
                            Проекты
                        </h2>
                        <div class="block-cases__body">
                            <div class="block-cases__cards">
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="./" class="card-case">
                                    <img loading="lazy" src="img/image3.webp" alt="" class="card-case__pic1">
                                    <div class="card-case__item">
                                        <div class="card-case__title">
                                            Разработка платформы для онлайн-образования с приемом оплаты от иностранцев
                                        </div>
                                        <div class="card-case__badges">
                                            <div style="background: #116adf;" class="card-case__badge">
                                                Team leader
                                            </div>
                                            <div style="background: #1b87eb;" class="card-case__badge">
                                                1С-Битрикс
                                            </div>
                                            <div style="background: #1ba3e9;" class="card-case__badge">
                                                МойСклад
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <a href="./" class="link">Еще кейсы</a>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'blocks/info.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>