.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: 100;
    .container {
        max-width: 1860px;
    }

    // .header__content

    &__content {
        padding: 45px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        @media (max-width: 768px) {
            padding: 30px 0px;
        }
        @media (max-width: 402px) {
            padding: 26px 0px;
        }
    }

    // .header__left

    &__left {
        display: flex;
        align-items: center;
        gap: 165px;
        @media (max-width: 1330px) {
            gap: 30px;
        }
        @media (max-width: 550px) {
            justify-content: space-between;
            flex: 1 1 auto;
            flex-direction: row-reverse;
        }
        .header__logo {
            flex: 0 0 30px;
            max-width: 30px;
            @media (max-width: 550px) {
                max-width: 28px;
                flex: 0 0 28px;
            }
        }
    }

    // .header__right

    &__right {
        display: flex;
        align-items: center;
        gap: 45px;
        @media (max-width: 1330px) {
            gap: 30px;
        }
        @media (max-width: 402px) {
            gap: 26px;
        }
    }

    // .header__buttons

    &__buttons {
        display: flex;
        align-items: center;
        gap: 30px;
        @media (max-width: 992px) {
            display: none;
        }
    }

    // .header__logo

    &__logo {
        width: 100%;
        max-width: 28px;
        display: flex;
        img {
            width: 100%;
            height: auto;
        }
    }
}

.header-menu {
    // .header-menu__burger

    &__burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        @media (max-width: 402px) {
            gap: 4px;
        }
    }

    // .header-menu__name

    &__name {
        font-weight: 600;
        font-size: 12px;
        line-height: 67%;
        color: #fff;
        @media (max-width: 550px) {
            color: var(--021051);
        }
        @media (max-width: 402px) {
            font-size: 11px;
        }
    }
}

.icon-menu {
    width: 25px;
    cursor: pointer;
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
    @media (max-width: 402px) {
        width: 22px;
    }
    // .icon-menu__line

    &__line {
        display: flex;
        border-radius: 30px;
        width: 20px;
        margin-left: auto;
        background-color: #fff;
        height: 3px;
        @media (max-width: 550px) {
            background-color: var(--021051);
        }
        @media (max-width: 402px) {
            width: 18px;
            height: 2.5px;
        }
        &:nth-child(even) {
            margin-left: 0px;
            margin-right: auto;
        }
    }
}

.header-bottom {
    display: none;
    @media (max-width: 550px) {
        display: flex;
        position: fixed;
        bottom: 17px;
        left: 15px;
        width: calc(100% - 30px);
        background: transparent;
        padding: 0px 0px 0px 0px;
    }
    // .header-bottom__content

    &__content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
    }

    // .header-bottom__left

    &__left {
        flex: 0 0 65px;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.8);
        @media (max-width: 402px) {
            flex: 0 0 56px;
            width: 56px;
            height: 56px;
        }
    }

    // .header-bottom__body

    &__body {
        width: 100%;
        flex: 1 1 auto;
        box-shadow: 0 2px 15px 0 rgba(152, 152, 152, 0.35);
        background: rgba(255, 246, 251, 0.9);
        border-radius: 55px;
        height: 65px;
        padding: 16px 30px 16px 30px;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: flex-end;
        @media (max-width: 402px) {
            height: 56px;
            padding: 13px 26px;
        }
    }
}

.header-other {
    .header__content {
        padding: 20px 0px;
        @media (max-width: 550px) {
            gap: 0px;
            padding: 15px 5px 15px 0px;
        }
        @media (max-width: 402px) {
            padding: 13px 5px 13px 0px;
        }
    }
}
.header-bg {
    background-color: rgba(33, 33, 33, 0.75);
    border-radius: 0px 0px 30px 30px;
    @media (max-width: 550px) {
        background-color: transparent;
        border-radius: 0px;
    }
    .breadcrumbs {
        @media (max-width: 550px) {
            border-radius: 5px;
            padding: 5px;
            background: rgba(33, 33, 33, 0.75);
        }
    }
}
