:root {
  --container-width: 1470px;
  --container-padding: 30px;
  --021051: #021051;

  --font-family: "SegoeUI", sans-serif;
  --second-family: "Raleway", sans-serif;
  --third-family: "Inter", sans-serif;
}
